@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

$orange: #ff2f22;
$black: #121212;
$service-card-gradient: linear-gradient(
  258deg,
  #ff4135 0%,
  #ff4135 0%,
  #bd4e62 47%,
  #0f80e9 100%
);
@mixin container {
  max-width: 1290px;
  margin: 0 auto;
  @media screen and (max-width: 1315px) {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
}
@mixin hover_btn($bg, $color) {
  color: $color;
  background: $bg;
  transition: all 0.3s;
  &:hover {
    color: $bg;
    background: $color;
  }
}
@mixin number_title($text-color) {
  display: flex;
  align-items: center;
  color: $text-color;
  opacity: 30%;
  font-size: 23px;
  font-weight: 300;
  span {
    font-size: 40px;
  }
  @media screen and (max-width: 1216px) {
    display: none;
  }
}
@mixin page_title {
  font-size: 40px;
  color: $black;
  line-height: 130%;
  font-weight: 500;
  margin-bottom: 42px;
  @media screen and (max-width: 768px) {
    font-size: 25px;
  }
}
body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: $black;
}
.overflow-hidden header {
  margin-left: calc(-1 * var(--scrollbar-width) + 6px);
}
// Header
header {
  position: relative;
  position: fixed;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1360px;
  width: 100%;
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  padding-top: 6px;
  padding-bottom: 7px;
  @media screen and (max-width: 1028px) {
    padding-top: 0;
    padding-bottom: 0;
    width: 95%;
    top: 15px;
  }
  .submenu_content {
    position: absolute;
    z-index: 10;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    backdrop-filter: blur(50px);
    overflow-y: auto;
    transition: all 500ms;
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0;
    }
    &.active {
      height: 485px;
    }
    .submenu_wrapper {
      width: 100%;
      padding: 49px 0 71px 59px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .title {
        color: $black;
        font-size: 23px;
        font-weight: 600;
        line-height: 29.9px;
        word-wrap: break-word;
        display: flex;
        align-items: center;
        margin-bottom: 56px;
      }
      .list {
        max-height: 289px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        flex-wrap: wrap;
        .sub_item {
          color: #3a3a3a;
          font-size: 18px;
          line-height: 130%;
          word-wrap: nowrap;
          cursor: pointer;
          margin-right: 82px;
          transition: all 0.3s;
          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
  .menu_with_sub:hover + .submenu_content,
  .submenu_content:hover {
    height: 485px;
  }
  .icon_open,
  .icon_close {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 300ms;
    &.active {
      transform: scale(1);
    }
    &.noactive {
      transform: scale(0);
    }
  }

  .burger_menu_container {
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    backdrop-filter: blur(50px);
    transition: all 500ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0;
    }
    &.active {
      max-height: 540px;
      height: 540px;
      padding-left: 5px;
      padding-right: 5px;
    }
    .burger_menu_wrapper {
      width: 100%;
      max-width: 342px;
      padding-top: 52px;
      padding-bottom: 57px;
      padding-left: 25px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .menu_title {
        color: #909090;
        font-size: 18px;
        font-weight: 400;
        line-height: 17.82px;
        word-wrap: break-word;
        margin-bottom: 26px;
      }
      .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 25px;
        .burger_sub_item {
          color: $black;
          font-size: 23px;
          transition: all 0.3s;
        }
        .burgermenu_with_sub {
          position: relative;
          .burger_submenu {
            overflow: hidden;
            position: relative;
            z-index: 5;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 18px;
            transform: translateX(4%);
            height: 0px;
            transition: all 500ms;

            &.active {
              height: 92%;
              margin-top: 20px;
            }
            .burger_sub_item {
              color: #292929 !important;
              font-size: 19px;
              transition: all 0.3s;
            }
          }
        }
        .navbar_item {
          color: #292929;
          font-size: 23px;
          font-family: Manrope;
          font-weight: 400;
          line-height: 22.77px;
          word-wrap: break-word;
          transition: all 0.3s;
          @media screen and (min-width: 768px) {
            &:hover {
              color: $orange;
            }
          }
        }
        .dropdown {
          max-width: 80px;
          border-color: #fff;
          background-color: transparent;
          color: $black;
          @media screen and (max-width: 1160px) {
            margin-right: 25px;
          }
          span {
            text-transform: uppercase !important;
            font-size: 23px;
          }
          .truncate {
            text-transform: uppercase;
            font-size: 23px;
          }
          .w-48 {
            max-width: 80px;
            text-transform: uppercase;
            .scroll-py-1 {
              background-color: transparent;
              border: none;
              box-shadow: none;
            }
            .group {
              color: $black;
              background-color: transparent;
              box-shadow: none;
            }
          }
        }
        .dropdown_btn {
          border-color: #fff;
          background-color: transparent;
          color: $black;
          box-shadow: none;
          padding: 0;
          &:hover {
            background-color: transparent;
            box-shadow: none;
          }
        }
      }
    }
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1050px) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .logo_img {
    width: 163.75px;
    height: 32px;
    @media screen and (max-width: 1028px) {
      width: 161.39px;
      height: 32px;
    }
  }
  .logo_title {
    width: 91.38px;
    height: 18.53px;
    @media screen and (max-width: 1028px) {
      width: 88px;
      height: 18.53px;
    }
  }
  nav {
    text-align: center;
    color: $black;
    font-size: 18px;
    font-family: Manrope;
    font-weight: 400;
    line-height: 17.82px;
    word-wrap: break-word;
    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }
    .navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 35px;
      @media screen and (max-width: 1200px) {
        gap: 20px;
      }
      .navbar_item {
        text-wrap: nowrap;
        transition: all 0.3s;
        &:hover {
          color: $orange;
        }
      }
    }
    @media screen and (max-width: 1050px) {
      display: none;
    }
  }
  .menu_btn {
    @media screen and (min-width: 1050px) {
      display: none;
    }
  }
  .submit_btn {
    border-radius: 100px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 34px;
    display: inline-flex;
    text-align: center;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 600;
    line-height: 15.84px;
    word-wrap: break-word;
    padding: 19.5px 30px;
    border: 1px solid $black;
    @include hover_btn($black, white);
    @media screen and (max-width: 1160px) {
      display: none;
    }
  }
  .dropdown {
    max-width: 50px;
    border-color: #fff;
    background-color: transparent;
    @media screen and (max-width: 1160px) {
      margin-right: 25px;
    }
    @media screen and (max-width: 1050px) {
      display: none;
    }
    span {
      text-transform: uppercase !important;
      font-size: 16px;
    }
    .truncate {
      text-transform: uppercase;
      font-size: 16px;
    }
    .w-48 {
      max-width: 50px;
      text-transform: uppercase;
      .scroll-py-1 {
        background-color: #fff;
        box-shadow: none;
        border: none;
      }
      .group {
        color: $black;
        background-color: white;
      }
    }
  }
  .dropdown_btn {
    border-color: #fff;
    background-color: #fff;
    box-shadow: none;
    color: $black;
    &:hover {
      background-color: transparent;
    }
  }
}

//Footer
footer {
  margin-top: -20px;
  padding-top: 96px;
  padding-bottom: 35px;
  color: white;
  overflow: hidden;
  z-index: 4;
  @media screen and (max-width: 768px) {
    padding-top: 80px;
    padding-bottom: 34px;
  }
  .footer_bg_big {
    position: absolute;
    top: 19.45px;
    z-index: -1;
    max-width: max-content;
  }
  .footer_bg {
    position: absolute;
    right: 0;
    top: -60%;
    z-index: -1;
    @media screen and (max-width: 768px) {
      top: -40%;
    }
  }
  .footer {
    @include container;
  }
  .footer_contact {
    max-width: 635px;
    h2 {
      font-size: 45px;
      font-family: Manrope;
      font-weight: 500;
      line-height: 58.5px;
      word-wrap: break-word;
      margin-bottom: 44px;
    }
    .sub {
      font-size: 18px;
      font-family: Manrope;
      font-weight: 300;
      line-height: 26.1px;
      word-wrap: break-word;
      span {
        color: rgba(255, 255, 255, 0.5);
      }
      margin-bottom: 38px;
    }
    .phones {
      font-size: 32px;
      font-family: Manrope;
      font-weight: 400;
      line-height: 46.4px;
      word-wrap: break-word;
    }
    .emal_adress {
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      font-family: Manrope;
      font-weight: 300;
      line-height: 30.6px;
      word-wrap: break-word;
      strong {
        font-weight: 600;
      }
    }
  }
  .footer_form {
    max-width: 525px;
    width: 100%;
    h5 {
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      font-family: Manrope;
      font-weight: 700;
      line-height: 26.1px;
      word-wrap: break-word;
      margin-bottom: 38px;
    }
    form {
      input,
      textarea {
        resize: none;
        background: transparent;
        outline: none;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      }
      .error_span {
        font-size: 14px;
      }
    }
    .form_btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      @include hover_btn(#d4180c, white);
      padding: 20px 57px;
      border-radius: 100px;
      transition: all 0.3s;
      @media screen and (max-width: 768px) {
        padding: 18px 50px;
      }
    }
    .form_title {
      max-width: 299.55px;
      color: rgba(255, 255, 255, 0.6);
      font-size: 14px;
      font-family: Manrope;
      font-weight: 400;
      line-height: 21.14px;
      word-wrap: break-word;
    }
  }
  .social_media {
    @media screen and (min-width: 768px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .copy_right {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-family: Manrope;
    font-weight: 500;
    line-height: 27.2px;
    word-wrap: break-word;
  }
}
