@import "./basic.scss";
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper {
  .main {
    position: relative;
    padding-top: 379px;
    padding-bottom: 111px;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      padding-top: 258px;
      padding-bottom: 45px;
    }
    .main_page_bg {
      position: absolute;
      top: -207px;
      right: -233px;
      z-index: -1;
      @media screen and (max-width: 768px) {
        max-width: 675px;
        top: 36px;
        right: -353px;
      }
    }
    .offer_block {
      @include container;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 70px;
      .content {
        max-width: 655px;
        .span_name {
          font-size: 16px;
          line-height: 130%;
          opacity: 30%;
          color: white;
          font-weight: 700;
          margin-bottom: 15px;
          text-transform: uppercase;
          @media screen and (max-width: 768px) {
            font-weight: 600;
          }
        }
        .offer_title {
          color: white;
          font-size: 60px;
          line-height: 95%;
          margin-bottom: 30px;
          font-weight: 500;
          span {
            color: $orange;
          }
          @media screen and (max-width: 768px) {
            font-size: 45px;
            line-height: 100%;
          }
        }
        .sub {
          color: white;
          max-width: 526px;
          font-size: 21px;
          line-height: 130%;
          opacity: 80%;
          margin-bottom: 50px;
          @media screen and (max-width: 768px) {
            font-size: 19px;
          }
        }
        .popup_link {
          height: 57px;
          width: 284px;
          background-color: white;
          display: flex;
          align-items: center;
          gap: 34px;
          font-size: 18px;
          line-height: 99%;
          color: black;
          font-weight: 500;
          border-radius: 100px;
          padding-left: 47px;
        }
        .btn_sub {
          max-width: 230px;
          color: white;
          font-size: 17px;
          opacity: 80%;
          line-height: 130%;
          font-weight: 300;
        }
      }
      .slider {
        max-width: 526px;
        position: relative;
        background: white;
        border-radius: 30px;
        z-index: 5;
        .slider_slide {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          overflow: hidden;
          padding: 40px 40px 40px 37px;
          overflow: visible;
          @media screen and (max-width: 768px) {
            padding: 30px 30px 30px 27px;
          }
        }
        .swiper-pagination-clickable {
          position: relative;
          z-index: 5;
          padding: 0 40px 23px 23px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .slider_span {
          width: 139px;
          height: 4px;
          background: #ff2f22;
          border-radius: 100px;
        }
        .number {
          position: absolute;
          top: 50px;
          right: 25px;
          font-size: 400px;
          font-weight: 700;
          line-height: 70%;
          color: #f5f5f5;
          z-index: -1;
        }
        .title {
          font-size: 18px;
          line-height: 130%;
          color: #ff2f22;
          margin-bottom: 29px;
        }
        .sub {
          max-width: 424px;
          color: #6a6a6a;
          font-size: 16px;
          line-height: 130%;
          font-weight: 500;
        }
      }
    }
  }
  .white_block {
    background: white;
    border-radius: 30px;
    padding-top: 72px;
    padding-bottom: 85px;
    position: relative;
    z-index: 6;
    @media screen and (max-width: 768px) {
      padding-top: 53px;
      padding-bottom: 48px;
    }
    .about {
      @include container;
      margin-bottom: 74px;
      .title {
        @include number_title($black);
      }
      .content {
        width: 100%;
        max-width: 824px;
        .content_title {
          color: $black;
          font-size: 28px;
          font-weight: 500;
          line-height: 36.4px;
          word-wrap: break-word;
          @media screen and (max-width: 768px) {
            font-size: 25px;
          }
        }
        .content_sub {
          color: #797979;
          font-size: 18px;
          line-height: 145%;
        }
      }
      .card-slider {
        .effective_card {
          background: linear-gradient(228deg, black 0%, #ff2f22 100%);
          border-radius: 30px;
          width: 100%;
          max-width: 439px;
          padding-top: 47px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          overflow: hidden;
          @media screen and (max-width: 768px) {
            max-width: 100%;
            height: 350px;
          }
          .card_content {
            max-width: 343px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media screen and (max-width: 768px) {
              max-width: 100%;
              padding-left: 20px;
              padding-right: 10px;
            }
            .card_title {
              color: white;
              font-size: 26px;
              font-weight: 600;
              line-height: 29.64px;
              word-wrap: break-word;
              margin-bottom: 23px;
              span {
                opacity: 50%;
              }
              @media screen and (max-width: 768px) {
                font-size: 23px;
                font-weight: 500;
              }
            }
          }
          .card_sub {
            color: white;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.4px;
            word-wrap: break-word;
            @media screen and (max-width: 768px) {
              font-size: 15px;
            }
          }
        }
        .about_slider {
          position: relative;
          border-radius: 30px;
          max-width: 824px;
          width: 100%;
          .images_slide {
            min-height: 258px;
            border-radius: 30px;
            overflow: hidden;
            img {
              min-height: 258px;
              object-fit: cover;
            }
          }
          .slider_logo {
            position: absolute;
            top: 26px;
            left: 25px;
            z-index: 5;
            width: 103px;
            height: 23px;
          }
          .slider_btns {
            position: absolute;
            bottom: 22px;
            left: 25px;
            background: white;
            border-radius: 100px;
            padding: 17px 25px;
            display: flex;
            align-items: center;
            gap: 25px;
            z-index: 5;
            @media screen and (max-width: 768px) {
              padding: 14px 18px;
            }
          }
          .slider_title {
            text-align: right;
            color: rgba(255, 255, 255, 0.8);
            font-size: 17px;
            font-weight: 600;
            line-height: 22.1px;
            word-wrap: break-word;
            @media screen and (max-width: 768px) {
              font-size: 15px;
            }
          }
        }
      }
    }
    .services {
      @include container;
      .content_title {
        color: $black;
        font-size: 28px;
        font-weight: 500;
        line-height: 36.4px;
        word-wrap: break-word;
        @media screen and (max-width: 768px) {
          font-size: 25px;
        }
      }
      .title {
        @include number_title($black);
      }
      .services_cards {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        gap: 20px;
        flex-wrap: wrap;
        @media screen and (max-width: 768px) {
          flex-direction: column;
        }
        .card {
          position: relative;
          z-index: 2;
          width: 32%;
          padding: 26px 40px 32px 28px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 30px;
          background: #f3f3f3;
          color: black;
          transition: all 0.3s;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $service-card-gradient;
            z-index: -1;
            opacity: 0;
            transition: opacity 0.3s;
            border-radius: 30px;
          }
          &:hover {
            color: white;
            .card_img {
              filter: brightness(0) invert(1) sepia(0) saturate(10000%)
                hue-rotate(0deg);
            }
            &::before {
              opacity: 1;
            }
          }
          .card_span {
            font-size: 15px;
            font-weight: 400;
            line-height: 19.5px;
            word-wrap: break-word;
          }
          .card_title {
            font-size: 19px;
            font-weight: 500;
            line-height: 24.7px;
            word-wrap: break-word;
          }
          .card_sub {
            max-width: 234px;
            font-size: 15px;
            font-weight: 400;
            line-height: 19.5px;
            word-wrap: break-word;
          }
          .card_btn {
            padding: 30px 25px 30px 25px;
            background: white;
            border-radius: 99999px;
            svg {
              path {
                fill: $service-card-gradient;
              }
            }
          }
        }
      }
      .line {
        height: 1px;
        background: #e1e1e1;
        width: 100%;
      }
      .all_services_link {
        color: $orange;
        text-align: right;
        font-size: 18px;
        line-height: 23.4px;
        word-wrap: break-word;
        margin-left: 30px;
      }
    }
  }
  .benefits {
    position: relative;
    z-index: 5;
    padding-top: 112px;
    padding-bottom: 87px;
    color: white;
    @media screen and (max-width: 768px) {
      padding-top: 74px;
      padding-bottom: 77px;
    }
    .bg_animation {
      animation: animation_bg 15s infinite ease-in-out;
    }
    @keyframes animation_bg {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10%);
      }
    }
    .benefits_content {
      @include container;
      @media screen and (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
      .title {
        @include number_title(white);
      }
      .everything_btn {
        padding: 16px 38px;
        border-radius: 100px;
        overflow: hidden;
        border: 1px rgba(255, 255, 255, 0.3) solid;
        backdrop-filter: blur(40px);
        justify-content: center;
        align-items: center;
        gap: 34px;
        display: inline-flex;
        text-align: center;
        color: white;
        font-size: 15px;
        font-weight: 600;
        line-height: 14.85px;
        word-wrap: break-word;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .benefit_title {
        color: white;
        font-size: 28px;
        font-weight: 500;
        line-height: 36.4px;
        word-wrap: break-word;
        @media screen and (max-width: 768px) {
          font-size: 25px;
        }
      }
      .benefit_sub {
        font-size: 18px;
        font-weight: 300;
        line-height: 26.1px;
        word-wrap: break-word;
      }
      .benefits_list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 39px;
        .benefits_list_item {
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
        .list_sub {
          color: rgba(255, 255, 255, 0.9);
          font-size: 16px;
          font-weight: 400;
          line-height: 23.2px;
          word-wrap: break-word;
        }
      }
    }
    .benefits-slider {
      .benefit_card {
        max-width: 307px;
        width: 100%;
        background: rgba(42.5, 42.5, 42.5, 0.75);
        border-radius: 30px;
        border: 1px rgba(255, 255, 255, 0.1) solid;
        backdrop-filter: blur(60px);
        padding: 35px 30px 38px 30px;
        @media screen and (max-width: 768px) {
          margin-left: 20px;
          backdrop-filter: blur(10px);
          background: rgba(43, 43, 43, 0.75);
        }
        .benefit_title {
          color: white;
          font-size: 18px;
          font-weight: 600;
          line-height: 26.1px;
          word-wrap: break-word;
        }
        .benfit_sub {
          max-width: 227px;
          color: rgba(255, 255, 255, 0.8);
          font-size: 15px;
          font-weight: 300;
          line-height: 21.75px;
          word-wrap: break-word;
          @media screen and (max-width: 768px) {
            max-width: 100%;
          }
        }
      }
    }
  }
  .white_block_2 {
    background: white;
    border-radius: 30px;
    padding-top: 78px;
    padding-bottom: 60px;
    position: relative;
    z-index: 5;
    @media screen and (max-width: 768px) {
      padding-top: 65px;
      padding-bottom: 30px;
    }
    .trust {
      @include container;
      margin-bottom: 94px;
      @media screen and (max-width: 768px) {
        margin-bottom: 66px;
      }
      .trust_bg_block {
        position: relative;
        width: 588px;
        height: 51px;
        border-radius: 100px;
        overflow: hidden;
        @media screen and (max-width: 768px) {
          display: none;
        }
        .img {
          position: absolute;
          top: -500%;
          object-fit: cover;
          object-position: center;
          animation: rotate 10s infinite;
        }
      }
      .client_slider_container {
        .trust_slider {
          overflow-y: visible;
          .swiper-wrapper {
            margin-top: 50px;
            margin-bottom: 50px;
          }
          .slider {
            background: white;
            width: 185px;
            height: 176px;
            border: 1px solid #f3f3f3;
            border-radius: 30px;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: inline-flex;
            @media screen and (max-width: 768px) {
              img {
                max-width: 90px;
              }
            }
          }
        }
        .client_btn-prev,
        .client_btn-next {
          position: absolute;
          top: 50%;
          @media screen and (max-width: 768px) {
            display: none;
          }
          img {
            width: 8.99px;
            height: 19px;
          }
        }
        .client_btn-prev {
          left: -37px;
        }
        .client_btn-next {
          right: -37px;
        }
      }
    }
    .reviews {
      @include container;
      @media screen and (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
        .reviews_title {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      .trust_bg_block {
        position: relative;
        width: 588px;
        height: 51px;
        border-radius: 100px;
        overflow: hidden;
        @media screen and (max-width: 768px) {
          display: none;
        }
        .img {
          position: absolute;
          top: -500%;
          object-fit: cover;
          object-position: center;
          animation: rotate 10s infinite;
        }
      }
      .reviews_slider_container {
        .reviews_btn-prev,
        .reviews_btn-next {
          position: absolute;
          top: 50%;
          z-index: 2;
          @media screen and (max-width: 768px) {
            display: none;
          }
          cursor: pointer;
          img {
            width: 8.99px;
            height: 19px;
          }
        }
        .reviews_btn-prev {
          left: -37px;
        }
        .reviews_btn-next {
          right: -37px;
        }
        .reviews_slider {
          .swiper-pagination-bullet-active {
            background-color: $orange;
          }
          .swiper-wrapper {
            margin-top: 50px;
            margin-bottom: 50px;
          }
          .slide {
            background: white;
            border-radius: 30px;
            border: 1px solid #f3f3f3;
            width: 32%;
            max-width: 414px;
            padding: 38px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 768px) {
              margin-left: 20px;
              width: 100% !important;
              max-width: 90%;
            }
            .slide_content {
              max-width: 340px;
              width: 100%;
              .name {
                color: #303030;
                font-size: 17px;
                font-weight: 500;
                line-height: 22.1px;
                word-wrap: break-word;
              }
              .name_description {
                max-width: 224px;
                color: #9b9b9b;
                font-size: 14px;
                font-family: Manrope;
                line-height: 18.2px;
                word-wrap: break-word;
              }
              .description {
                color: #6b6b6b;
                font-size: 15px;
                font-weight: 400;
                line-height: 21px;
                word-wrap: break-word;
              }
            }
            .name_img {
              width: 66px;
              height: 66px;
              object-fit: cover;
              border-radius: 100%;
            }
          }
        }
      }
    }
    .trust_title,
    .reviews_title {
      color: #121212;
      font-size: 34px;
      font-weight: 500;
      line-height: 44.2px;
      word-wrap: break-word;
      @media screen and (max-width: 768px) {
        font-size: 25px;
      }
    }
    .title {
      @include number_title($black);
    }
    .trust_sub,
    .reviews_sub {
      max-width: 620px;
      font-size: 18px;
      line-height: 145%;
      color: #292929;
      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
    }
    .trust_slider,
    .reviews_slider {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}
